# PlatformIO
.pio/
.piolibdeps/
.pioenvs/

# IDE
.vscode/
.idea/

# Build files
*.elf
*.bin
*.hex
*.map
build/
dist/

# Images and binaries (добавим картинку в исключения)
*.png
*.jpg
*.jpeg
*.gif

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.temp
